<div class='row'>
  <div class='col-md-12'>
    <h1>Hello.</h1>
    <h2>Please Sign In</h2>
    <ul>
      <li ng-repeat="item in students">
        <form ng-submit="CourseFactory.signIn(item)">
          {{item.name}}


          <input class="button" ng-show="!item.signedIn" type="submit" value="Sign In">
          <input class="button" ng-show="item.signedIn" type="submit" value="Sign Out">
        </form>

      </li>
    </ul>
    <h6><a ui-sref="attendance">Who Has Signed In?</a></h6>
    <h6><a ui-sref="home">Go Back</a></h6>

  </div>
</div>
